

body {
	font-family: comfortaa, sans-serif;
}

.card {
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20%;
	}

.btn  {
	max-width:300px;
	margin:10px;
}
.buttons {
float:center;	
}